In [10]:
# 1 - Import Pandas
import pandas as pd

# 2 - Import Uber Dataset Dataset & Read it
df = pd.read_csv("UBERDataset.csv")
df.info()
pd.set_option("display.max_columns", None) 
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CATEGORY          1010 non-null   object
 1   START             1010 non-null   object
 2   STOP              960 non-null    object
 3   MILES             1010 non-null   float64
 4   PURPOSE           960 non-null    object
 5   DRIVER_RATING     960 non-null    float64
 6   FARE_AMOUNT       1010 non-null   float64
 7   PASSENGER_COUNT   1010 non-null   int64
 8   PAYMENT_METHOD    1010 non-null   object
 9   CAR_TYPE          1010 non-null   object
 10  TRIP_TYPE         1010 non-null   object
 11  TRIP_DATE         1010 non-null   object
 12  YEAR              1010 non-null   int64
 13  MONTH_NAME        1010 non-null   object
 14  DAY_OF_WEEK_NAME  1010 non-null   object
 15  DAY_OF_MONTH      1010 non-null   int64
dtypes: float64(3), int64(3), object(10)
memory usage: 126.4+ KB

,CATEGORY,START,STOP,MILES,PURPOSE,DRIVER_RATING,FARE_AMOUNT,PASSENGER_COUNT,PAYMENT_METHOD,CAR_TYPE,TRIP_TYPE,TRIP_DATE,YEAR,MONTH_NAME,DAY_OF_WEEK_NAME,DAY_OF_MONTH
0,Business,Ramirezborough,Ramirezborough,19.97,Meeting,5.2,14.87,2,Uber Credit,SUV,Round-Trip,2022-06-01,2022,June,Wednesday,1
1,Business,New Caseyburgh,New Caseyburgh,13.62,Errand/Supplies,5.0,22.83,4,Uber Credit,Premium,Round-Trip,2022-11-09,2022,November,Wednesday,9
2,Personal,Hannahside,West Mercedes,21.48,Commute,4.5,13.11,2,Card,SUV,One-Way,2024-07-17,2024,July,Wednesday,17
3,Business,Trevinofurt,Trevinofurt,30.23,Meeting,4.2,20.38,2,Cash,Economy,Round-Trip,2021-09-17,2021,September,Friday,17
4,Business,Christopherberg,Christopherberg,12.66,NaN,4.8,3.40,1,Cash,SUV,Round-Trip,2021-07-22,2021,July,Thursday,22
5,Business,Jeffreychester,Jeffreychester,12.66,Meal/Entertain,NaN,28.20,3,Uber Credit,Premium,Round-Trip,2021-03-08,2021,March,Monday,8
6,Business,Villarrealhaven,Villarrealhaven,30.79,Errand/Supplies,4.9,25.02,3,Uber Credit,SUV,Round-Trip,2021-01-17,2021,January,Sunday,17
7,Business,East Miaberg,East Miaberg,22.67,Errand/Supplies,4.8,12.74,2,Uber Credit,Economy,Round-Trip,2024-01-17,2024,January,Wednesday,17
8,Personal,Watkinston,Watkinston,10.31,Commute,5.0,34.89,1,Cash,Premium,Round-Trip,2024-12-23,2024,December,Monday,23
9,Business,Juanville,Pricebury,20.43,Errand/Supplies,4.2,39.06,4,Cash,Economy,One-Way,2021-11-14,2021,November,Sunday,14
10,Business,South Heatherland,North Jillburgh,10.37,NaN,5.2,0.89,3,Cash,SUV,One-Way,2020-08-12,2020,August,Wednesday,12
11,Business,Moniquechester,North Thomas,10.34,Commute,4.6,13.56,2,Uber Credit,SUV,One-Way,2024-10-17,2024,October,Thursday,17
12,Business,Williammouth,Williammouth,17.42,Errand/Supplies,5.5,13.46,3,Uber Credit,Economy,Round-Trip,2022-01-05,2022,January,Wednesday,5
13,Business,East Johnchester,NaN,-4.13,Commute,4.2,10.90,3,Cash,Premium,Unknown,2022-06-11,2022,June,Saturday,11
14,Business,Farmermouth,Farmermouth,-2.25,Errand/Supplies,5.4,37.44,4,Uber Credit,Economy,Round-Trip,2021-08-21,2021,August,Saturday,21
15,Business,Emilyport,Emilyport,9.38,Errand/Supplies,4.6,22.09,1,Cash,Premium,Round-Trip,2021-05-29,2021,May,Saturday,29
16,Personal,Ryanhaven,Ryanhaven,4.87,Meal/Entertain,4.2,21.03,4,Cash,Premium,Round-Trip,2021-10-24,2021,October,Sunday,24
17,Business,Priceshire,Priceshire,18.14,Errand/Supplies,4.3,5.06,1,Cash,Premium,Round-Trip,2023-12-07,2023,December,Thursday,7
18,Personal,Jamesstad,Jamesstad,5.92,Commute,4.3,34.53,3,Card,Economy,Round-Trip,2021-12-05,2021,December,Sunday,5
19,Personal,Port Gilbertchester,Port Gilbertchester,0.88,Meeting,4.7,6.41,2,Card,Premium,Round-Trip,2021-12-17,2021,December,Friday,17

In [15]:
# 3 - Check Duplicated Values
print(df.duplicated().sum())

# 4 - Check Null Values
print(df.isnull().sum())

0
CATEGORY            0
START               0
STOP                0
MILES               0
PURPOSE             0
DRIVER_RATING       0
FARE_AMOUNT         0
PASSENGER_COUNT     0
PAYMENT_METHOD      0
CAR_TYPE            0
TRIP_TYPE           0
TRIP_DATE           0
YEAR                0
MONTH_NAME          0
DAY_OF_WEEK_NAME    0
DAY_OF_MONTH        0
dtype: int64

In [12]:
# 5 - Fill Null Values with A Suitable Values
df.fillna({"STOP":"Unknown"}, inplace = True)
df.fillna({"PURPOSE":"Other"}, inplace = True)

In [13]:
# 6 - Get Outliers then Fill Null Values with A Suitable Values with 2 ways
q1 = df["DRIVER_RATING"].quantile(0.25)
q3 = df["DRIVER_RATING"].quantile(0.75)

iqr = q3 - q1

lower_bond = q1 - (1.5 * iqr)
upper_bond = q3 + (1.5 * iqr)

outliers = df[((df["DRIVER_RATING"] < lower_bond) | (df["DRIVER_RATING"] > upper_bond))]

outliers.count()

CATEGORY            8
START               8
STOP                8
MILES               8
PURPOSE             8
DRIVER_RATING       8
FARE_AMOUNT         8
PASSENGER_COUNT     8
PAYMENT_METHOD      8
CAR_TYPE            8
TRIP_TYPE           8
TRIP_DATE           8
YEAR                8
MONTH_NAME          8
DAY_OF_WEEK_NAME    8
DAY_OF_MONTH        8
dtype: int64

In [14]:
# 1st Way: Fill Null Values with Median
df.fillna({"DRIVER_RATING":df["DRIVER_RATING"].median()}, inplace = True)

In [16]:
print(df["DRIVER_RATING"].median())

4.5

In [ ]:
# 2nd Way: Fill Null Values with Update Dataframe Range
df = df[((df["DRIVER_RATING"] > lower_bond) & (df["DRIVER_RATING"] < upper_bond))]

In [17]:
df.to_csv('Cleaned_uber_dataset.csv', index=False)